/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #e3e8ed;
}

/* Dashboard Layout */
.dashboard {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background-color: #1e293b;
  color: white;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #dceff7;
}

.nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0;
}

.nav a:hover {
  color: #38bdf8;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 30px;
}

/* Header */
.header {
  margin-bottom: 30px;
}

/* Cards grid */
.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
}

.large {
  margin-bottom: 20px;
}

.number {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

/* Focus section */
.focus {
  display: flex;
  gap: 20px;
}

.focus img {
  width: 100%;
  border-radius: 8px;
}

/* Tasks */
.tasks ul {
  margin-top: 10px;
  padding-left: 20px;
}

/* Responsive */

/* Tablet */
@media (max-width: 900px) {
  .cards {
    flex-direction: column;
  }

  .focus {
    flex-direction: column;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
